<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jobs | HireFlow AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <div class="brand">
        <h2>HireFlow AI</h2>
        <p>Enterprise</p>
    </div>

    <nav>
        <a href="/enterprise">🏠 Dashboard</a>
        <a href="/jobs" class="active">💼 My Jobs</a>
        <a href="/new-job">➕ Create Job</a>
        <a href="/enterprise/applications">📄 Applicants</a>
        <a href="/analytics">📊 Analytics</a>
        <a href="/logout">🚪 Logout</a>
    </nav>

</div>


<div class="main">

    <div class="topbar">

        <div>
            <h1>My Posted Jobs</h1>
            <p>All jobs available in the database</p>
        </div>

        <a href="/new-job" class="btn-primary btn-link">
            + New Job
        </a>

    </div>

    <div class="table-card">

        {% if jobs %}

        <table>

            <tr>
                <th>Role</th>
                <th>Department</th>
                <th>Location</th>
                <th>Type</th>
                <th>Salary</th>
            </tr>

            {% for job in jobs %}
            <tr>
                <td>{{ job.title }}</td>
                <td>{{ job.department }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.job_type }}</td>
                <td>{{ job.salary }}</td>
            </tr>
            {% endfor %}

        </table>

        {% else %}

        <div class="empty-state">
            <h2>📂 No Jobs Found</h2>
            <p>Create your first job to see it here.</p>

            <a href="/new-job" class="link-btn">
                Create Job
            </a>
        </div>

        {% endif %}

    </div>

</div>

</body>
</html>