<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar recruiter">

    <div class="brand">
        <h2>HireFlow AI</h2>
        <p>Recruiter</p>
    </div>

    <nav>
        <a href="/recruiter" class="active">🏠 Dashboard</a>
        <a href="#">👥 Candidates</a>
        <a href="#">🤖 AI Matching</a>
        <a href="#">📁 Applications</a>
        <a href="/">🚪 Logout</a>
    </nav>

</div>

<div class="main">

    <div class="topbar">

        <div>
            <h1>Recruiter Dashboard</h1>
            <p>Welcome back 👋</p>
        </div>

        <div class="profile">
            <div class="avatar purple-avatar">R</div>
            <div>
                <h4>Recruiter</h4>
                <small>HR Team</small>
            </div>
        </div>

    </div>

    <div class="cards">

        <div class="card purple">
            <h2>0</h2>
            <p>Resumes</p>
        </div>

        <div class="card blue">
            <h2>0</h2>
            <p>Matched</p>
        </div>

        <div class="card green">
            <h2>0</h2>
            <p>Interviewed</p>
        </div>

    </div>

    <div class="panel">

        <div class="panel-head">
            <h2>Recruitment Tools</h2>
            <span>Coming Soon</span>
        </div>

        <div class="actions">
            <button class="btn-primary">Upload Resume</button>
            <button class="btn-secondary">Run AI Matching</button>
        </div>

    </div>

    <div class="table-card">

        <div class="panel-head">
            <h2>Candidate Pipeline</h2>
            <span>Empty</span>
        </div>

        <div class="empty-state">

            <h2>🤖 No candidates yet</h2>

            <p>
                Upload resumes and run AI Matching.
                Candidates will appear here automatically.
            </p>

        </div>

    </div>

</div>

</body>
</html>